
.carousel {
  width: @width;
  height: @height;

.item {
    overflow: hidden;
}
    img {
      height: 100%;
      max-width: none;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }
=======
#tabs{
	margin:20px;
}
#footer{
	color:grey;
}
#single_entry_text{
	border-style:solid;
	padding:20px;
}
#persons_border{
	border-style:solid;
	padding:20px;
	margin:10px;
}
.container{
	padding: 1px;
	border: 2px solid black;
}
#pav1 {
   padding:1px;
   border:2px solid black;
   background-color:black;
	height: 100px;
    width: 150px;
	margin: 25px;
}
#pav2 {
   padding:1px;
   border:2px solid black;
   background-color:black;
	height: 100px;
    width: 150px;
	margin: 25px;
}
#pav3 {
   padding:1px;
   border:2px solid black;
   background-color:black;
	height: 70px;
    width: 150px;
	margin: 25px;
}
#pav4 {
   padding:1px;
   border:2px solid black;
   background-color:black;
	height: 300px;
    width: 700px;
	display: block;
	margin: 5px;
    margin-left: auto;
    margin-right: auto 
	
}
#pav6 {
   padding:1px;
   border:2px solid black;
   background-color:black;
	height: 70px;
    width: 90px;
	margin-top: 53px;
}
#pav7 {
   padding:1px;
   border:2px solid black;
   background-color:black;
	height: 70px;
    width: 90px;
	margin-top: 53px;
}
.col-md-10{
	padding: 1px;
	border: 2px solid black;
}
#row1{
	border:2px solid black;
	margin:10px;
}
#row2{
	border:2px solid black;
	margin:10px;
}#row3{
	border:2px solid black;
	margin:10px;
}
#row5 {
	border: 2px solid black;
	border:2px solid black;
	margin:10px;
}
#row6 {
	border: 2px solid black;
	border:2px solid black;
	margin:10px;
}
#cont1 {
   padding:1px;
   border:2px solid black;
   background-color:black;
	height: 200px;
    width: 300px;
	margin: 25px;
}
#cont2 {
   padding:1px;
   border:2px solid black;
   background-color:black;
	height: 200px;
    width: 300px;
	margin: 25px;
}
.btn {
	margin: 60px !important;

}