.parallax {
   
    background-image: url("img/photo7.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallaxTitlearea{
	opacity:0.5; 
	background-color: white;
}
#parallaxTextarea{
	
	opacity:0.5; 
	background-color: white;
}
#3collums{
	background-color:red;
}
#fix01{
	margin-left:40px;
}